.car {
    transition: top 0.5s, left 0.5s, transform 0.5s;
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 10;
  }
  
  .car svg {
    width: 100%;
    height: 100%;
  }
  
  .path {
    stroke: blue;
    stroke-width: 2;
    fill: none;
    pointer-events: none;
  }